<template>
  <q-page class="flex q-pa-md">
    Welcome Home {{ user }} {{ email }}
    <q-space />
    <div>
      <q-btn
        class="flex flex-center q-px-lg q-py-sm q-mb-md"
        size="md"
        label="Logout"
        color="primary"
        @click="logout"
      />
    </div>
  </q-page>
</template>

<script setup>
import { onMounted, ref } from 'vue'
import { useRouter } from 'vue-router'
import { useQuasar } from 'quasar'
import { getAuth, onAuthStateChanged, signOut } from 'firebase/auth'

const router = useRouter()
const $q = useQuasar()

const user = ref('')
const email = ref('')

const auth = getAuth()

const logout = () => {
  signOut(auth)
    .then(() => {
      $q.notify({ message: 'Sign Out Success', type: 'positive' })
      router.push('/')
    })
}

onMounted(() => {
  onAuthStateChanged(auth, (registeredUser) => {
    if (registeredUser) {
      user.value = registeredUser.displayName
      email.value = registeredUser.email
    } else {
      console.log('user is null')
    }
  })
})
</script>
