<template>
  <div>
    <template v-if="tab === 'register'">
      <div class="text-center q-mb-lg">Sign up with</div>
    </template>
    <template v-else>
      <div class="text-center q-mb-lg">Sign in with</div>
    </template>
    <div class="flex flex-center">
      <q-btn class="flex flex-center q-px-lg q-py-sm q-mb-md" color="primary" size="md"  label="Google"
        @click="google"
      />
    </div>
    <template v-if="tab === 'register'">
      <p class="text-center">Sign up with credentials</p>
    </template>
    <template v-else>
      <p class="text-center">Sign in with credentials</p>
    </template>

    <q-form @submit="submitForm">
      <q-input outlined class="q-mb-md" type="email" label="Email" v-model="formData.email" />
      <q-input outlined class="q-mb-md" type="password" label="Password" v-model="formData.password" />
      <div class="row">
        <q-space />
        <q-btn type="submit" color="primary" :label="tab" />
      </div>
    </q-form>
    <div class="text-center q-my-md">
      <q-btn flat label="Forgot Password?" color="green" class="text-capitalize rounded-borders"
        v-if="tab !== 'register'" @click="forgotPassword" />
    </div>
    <q-dialog v-model="resetPwdDialog">
      <ForgotPassword />
    </q-dialog>
  </div>
</template>

<script setup>
import { ref } from 'vue'
import { useRouter } from 'vue-router'
import { useQuasar } from 'quasar'
import { createUserWithEmailAndPassword, getAuth, GoogleAuthProvider, signInWithEmailAndPassword, signInWithPopup } from 'firebase/auth'
import ForgotPassword from './ForgotPassword.vue'

const router = useRouter()
const $q = useQuasar()

const props = defineProps({
  tab: {
    type: String,
    required: true
  }
})

const formData = ref({
  email: '',
  password: ''
})

const resetPwdDialog = ref(false)

const submitForm = () => {
  if (props.tab === 'login') {
    signInExistingUser(formData.value.email, formData.value.password)
  } else {
    createUser(formData.value.email, formData.value.password)
  }
}

const google = () => {
  const auth = getAuth()
  const provider = new GoogleAuthProvider()
  signInWithPopup(auth, provider)
    .then(result => {
      console.log({ result })
      $q.notify({ message: 'Sign In Success', type: 'positive' })
      router.push('/home')
    })
    .catch(error => console.log({ error }))
}

const signInExistingUser = (email, password) => {
  const auth = getAuth()
  signInWithEmailAndPassword(auth, email, password)
    .then(auth => {
      $q.notify({ message: 'Sign In Success', type: 'positive' })
      router.push('/home')
    })
    .catch(error => {
      $q.notify({ message: 'Sign In Error', type: 'negative' })
      console.log(error.message)
    })
}

const createUser = (email, password) => {
  const auth = getAuth()
  createUserWithEmailAndPassword(auth, email, password)
    .then(auth => {
      $q.notify({ message: 'Sign In Success', type: 'positive' })
      router.push('/home')
    })
    .catch(error => console.log(error))
}

const forgotPassword = () => {
  resetPwdDialog.value = true
}
</script>
